.modal-overlay{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.45);

    display:flex;
    justify-content:center;
    align-items:center;

    z-index:1000;
}

.modal-box{

    width:700px;

    max-height:90vh;

    overflow:auto;

    background:white;

    border-radius:16px;

    padding:30px;

    box-shadow:0 20px 60px rgba(0,0,0,.2);

}

.modal-header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:20px;

}

.close-btn{

    border:none;

    background:none;

    font-size:24px;

    cursor:pointer;

}