.navbar-custom{
    margin-left:250px;
    height:70px;
    background:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 40px;
    box-shadow:0 2px 8px rgba(0,0,0,0.1);
}

.search-box{
    width:300px;
    padding:10px;
    border-radius:8px;
    border:1px solid #ccc;
}